/* Formatação de tags */
body {
   margin:0 0 0 0;
   padding:0 0 0 0;
   font-family: Verdana, Arial, sans-serif;
   background-color: #FFFFFF;
}
/* -------------------------------------------------------------------------- */

/* Formatação da Área do CABEÇALHO */
.cabecalho {
   height:8%;
   background-color: #006600;
   background-image: URL("../images/img_cabecalho.png");
   font-size: 2em;
   font-weight: bold;
   /*color: #98FB98;*/
   text-align: center;
}

.relogio {
   background-color: #006600;
   font-size: 0.6em;
   color: #FFFFFF;
}

.logo_ifrn {
   background-color: #006600;
   font-size: 0.6em;
   color: #FFFFFF;
}
/* -------------------------------------------------------------------------- */

/* Formatação da Área de CONTEÚDO */
.conteudo {
   height:88%;
   background-color: #DCDCDC;
   background-image: URL("../images/img_background.jpg");
}

.painel_noticias, .painel_editais, .painel_videos {
   display: block;
   height: 150px;
   width: 95%;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

.titulo_painel_editais, .titulo_painel_noticias, .titulo_painel_videos {
   font-size: 1.1em;
   font-weight: bold;
}

.titulo_noticias {
   font-size: 1.2em;
   font-weight: bold;
   color: #004400;
}

.corpo_noticias {
   font-size:1.1em;
   color: #004400;
}

.titulo_editais {
   font-size: 1.2em;
   font-weight: bold;
   color: #8B0000;
}

.corpo_editais {
   font-size: 1.1em;
   color: #8B0000;
}
/* -------------------------------------------------------------------------- */

/* Formatação da Área do RODAPÉ */
.rodape {
   height:5%;
   background-color: #006600;
   font-family: Verdana, Arial, sans-serif;
   font-size: 1em;
   color: #FFFFFF;
   text-align: center;
}
/* -------------------------------------------------------------------------- */

/* Formatação da área de Rolagem de Texto */
#slider1, #slider2, #slider3 {
   padding-left: 0px;
   padding-top: 0px;
}
/* -------------------------------------------------------------------------- */
