body{
   background-image: url("../images/linen2.png");
   overflow: hidden;
   margin: 0;
   border: 0;
   padding: 0;
}

header{
   width: 100%;
   height: 80px;
   background-color: #484;
   margin: 0;
   margin-bottom: 14px;
   border: 0;
   padding: 0;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
   box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.2);
   background-image: url("../images/cidade_top.png");
}

.icon{
   width: 15%;
   height: 100%;
   float: left;
   background-image: url("../images/if.png");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.title{
   width: 70%;
   height: 100%;
   float: left;
   display: table;
   text-align: center;
}

.texto-titulo{
   display: table-cell;
   vertical-align: middle;
   font-size: 3em;
   font-family: sans-serif;
   color: white;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
   font-weight: bold;
}

.hora{
   width: 15%;
   height: 100%;
   float: left;
   display: table;
   text-align: right;
}

.texto-hora-icon{
   display: table-cell;
   vertical-align: middle;
   font-size: 1.5em;
   font-family: sans-serif;
   color: white;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
   font-weight: bold;
   padding-right: 1em;
}

footer{
   color: #aaa;
   padding-top: 15px;
   text-align: center;
   box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.4) inset;
   background-color: rgba(0, 0, 0, 0.3);
   background-image: url("../images/linen.png");
   width: 100%;
   height: 30px;
   position: fixed;
   bottom: 0;
   font-family: sans-serif;
}

h1{
   color: #fff;
   margin: 0;
   text-align: center;
   padding-top: 20px;
   font-family: sans-serif;
}

h2{
   margin: 0;
   color: #fff;
   text-align: center;
   padding-top: 0.5em;
   font-family: sans-serif;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.esquerda{
   float:left;
   display: block;
   min-height: 100%;
   width: 30%;
   padding: 1em;
}

.direita{
   float:left;
   display: block;
   height: 100%;
   width: 65%;
   padding: 1em;
}

.cartao{
   border-radius: 1em;
   background-color: #fff;
   /*background-image: url("../images/1.png");*/
   /* width: 650px; */
   width: 100%;
   /*height: 17.5em;*/
   height: 17.5em;
   margin: 15px;
   box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.2);
   display:block;
   float: left;
   margin-bottom: 1em;
}

div.bx-pager {
   min-height: 1em !important;
}

.video{
   border-radius: 1em;
   background-color: #fff;
   /*background-image: url("../images/1.png");*/
   /* width: 76.25em; */
   width: 100%;
   height: 56.1em;
   /* margin: 1em; */
   box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.2);
   display:block;
   float: left;
}

.barra{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 3em;
   box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.7);
}

.barra.amarelo{
   background-color: #db5;
}

.barra.verde{
   background-color: #7a5;
}

.barra.azul{
   background-color: #57a;
}

.barra.vermelho{
   background-color: #c75;
}

.image-background{
   -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.1)),
      to(rgba(0, 0, 0, 1))
   );
}

.noticia{}

.qr{}
