body {
   margin:0 0 0 0;
   padding:0 0 0 0;
   background-color: #666666;
}

.cabecalho {
   height:10%;
   background-color: #006600;
   font-family: Verdana, Arial, sans-serif;
   font-size: 20pt;
   font-weight: bold;
   color: #98FB98;
   text-align: center;

}

.conteudo {
   height:80%;
}

.rodape {
   height:10%;
   background-color: #006600;
   font-family: Verdana, Arial, sans-serif;
   font-size: 10pt;
   color: #ffffff;
   text-align: center;
}

.relogio {
   background-color: #006600;
   font-family: Verdana, Arial, sans-serif;
   font-size: 14pt;
   color: #ffffff;
}

.logo_ifrn {
   background-color: #006600;
   font-family: Verdana, Arial, sans-serif;
   font-size: 14pt;
   color: #ffffff;
}

#slider1 {
   padding-left: 0px;
   padding-top: 0px;
}

#slider2 {
   padding-left: 0px;
   padding-top: 0px;
}

#slider3 {
   padding-left: 0px;
   padding-top: 0px;
}
