.box_news {
    //display: inline-block;
    //height: 700px;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #909090;
    border-radius: 5px;
    //float: right;
}
