.box_destaques {
   display: block;
   height: 180px;
   /*width: 32%;*/
   width: 95%;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   padding-left: 10px;  /* distancia do texto para a borda esquerda */
   padding-right: 10px;  /* distancia do texto para a borda direita*/
   background-color: #FF7256;
   border-radius: 5px;
}

.box_destaques_title {
   font-family: Arial, Verdana, sans-serif;
   font-size: 16pt;
   font-weight: bold;
   font-style: normal;
   color: #8B0000;
}

.box_destaques_title_destaques {
   font-family: Arial, Verdana, sans-serif;
   font-size: 11pt;
   font-weight: bolder;
   font-style: normal;
   color: #8B0000;
}

.box_destaques_text_destaques {
   font-family: Arial, Verdana, sans-serif;
   font-size: 10pt;
   font-style: normal;
   color: #8B0000;
}
